*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    z-index: 10;
    background: transparent;
    width: 100%;
    margin-top: 40px;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo{
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.8rem;
    margin-right: 480px;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar_links:hover{
    color: #a5feccc9;
    transition: all 0.3s ease;
    border-bottom: 4px solid #a5feccc9;
}

/* Hero Section */
.hero {
    width: 100%;
    background: #5433FF;
    background: linear-gradient(
        to bottom,
        #5433FF,#0f5cc0, #0c88bd,#a5feccc9
    );
    position: relative;
    padding: 200px 0;
}

.hero_container{
    max-width: 1500px;
    margin: 0 auto;
    height: 90%;
    position: relative;
    z-index: 5; 
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #28212149;
    width: 1150px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.hero_heading{
    font-weight: bold;
    color: #fff;
    padding: 15px 0;
    width: 700px;
    margin-left: -40px;
    margin-right: 450px;
}

.hero__heading{
    font-weight: bold;
    color: #fff;
    width: 700px;
}

.hero_description{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.hero-content-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1150px;
    border-radius: 10px;
    padding: 20px 0;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    padding: 20px 0;
}

.hero-text1{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    margin-left: -370px;
}

.hero-text2{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    width: 500px;
}

.hero_img--container {
    text-align: center;
}

.hero_img--card {
    margin: 10px;
    height: 400px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/iran-vs-usa.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 150px;
} 
/* Blog Section */
.blog-container{
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 3rem 0;
}

.blog-content{
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    max-width: 1150px;
    padding-left: 18px;
    padding-top: 18px;
}

.blog-introduction, .blog, .blog-conclusion{
    font-size: 18px;
}

.blog-introduction .heading{
    font-size: 25px;
    font-weight: bold;
}

.blog .heading{
    font-family: "Chronicle Text G1 A", "Chronicle Text G1 B";
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 1.5;
    margin: 25px 0 10px;
    margin: 1.5625rem 0 0.625rem;
}

.blog-text{
    font-size: 18px;
    line-height: 1.5;
}

.key-points-list{
    margin-left: 20px;
}

ul li::marker{
    color: rgb(37, 37, 221);
}

ol li::marker{
    color: rgb(37, 37, 221);
}

ol > li{
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 1.5rem;
    line-height: 1.5;
}

img{
    width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 4px;
}

/* Author Section */
.author-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem 0;
}

.author-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.author-container .heading{
    font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 25px 0 10px;
    margin: 1.5625rem 0 0.625rem;
}

.author-name{
    font-family: "Chronicle Text G1 A", "Chronicle Text G1 B";
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 1.5;
    margin: 25px 0 10px;
    margin: 1.5625rem 0 0.625rem;
    text-decoration: none;
    transition: all 0.5s ease;
    color: #000000;
}

.author-name:hover{
    transition: all 0.5s ease;
    border-bottom: 4px solid #4b4d4cc9;
}

.author-info{
    margin-left: -50px;
}

.author-title{
    font-size: 20px;
    color: #3e3737;
    margin-bottom: 10px;
}

.author-bio{
    font-size: 19px;
    color: #786f6f;
    line-height: 1.5;
}

.author-img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: #000000 solid 1px;
    padding: 3px;
}


/* Scroll Back to Top Section */
.fa-arrow-up-long{
    color: #000000;
    font-size: 2rem;
    transition: all 0.3s ease;
}

.scroll-back--up{
    margin-top: -3000px;
    position: sticky;
    top: 50px;
}
/* Services Section */
.services{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.services h1{
    background-color: #6a11cb;
    background: -webkit-linear-gradient(
        to right, 
        #6a11cb 0%,#2575fc 100%
        );
    background: linear-gradient(
        to right, 
        #6a11cb 0%,#2575fc 100%
        );
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    margin-bottom: 5rem;  
    font-size: 2.5rem;
}

.services_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.services_card{
    margin: 10px;
    height: 425px;
    width: 280px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    background-image: url('../images/bottle1.jpg');
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.services_card:nth-child(2) {
    color: #ffffff;
    background-image: url('../images/close-up-hand-with-drink-bottles.jpg');
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in;

}

.services_card:nth-child(3) {
    color: #ffffff;
    background-image: url('../images/bottle-beer-desk.jpg');
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in;
}

.services_card:nth-child(4) {
    color: #000000;
    background-image: url('../images/white-sports-bottle-equipment.jpg');
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in;
}
    .services_card h2 {
        text-align: center;
    }

    .services_card p {
        text-align: center;
        margin-top: 24px;
        font-size: 20px;
    }

    .services_btn {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }

    .services_card button{
        color: #fff;
        padding: 14px 24px;
        border: none;
        outline: none;
        border-radius: 4px;
        background: #131313;
        font-size: 1rem;
    }

    .services_card button:hover{
        cursor: pointer;
    }

    .services_card:hover {
        transform: scale(1.075);
        transition: 0.3s ease-in;
        cursor: pointer;

    }

/* Footer Section */
.footer_container {
    background-color: #1c1a1a;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_logo{
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer_links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer_links--wrapper{
    display: flex;
}

.footer_links--items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer_links--items h2{
    margin-bottom: 16px;
    color: #fff;
}

.footer_links--items a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
}

.footer_links--items a:hover {
    color: #31cbdf;
    transition: 0.3 ease-out;
}

.website_rights{
    color: #fff;
}
